@use "./partials/reset";
@use "./partials/mixins" as *;
@use "./partials/var" as *;

.error {
  text-align: center;
  background-color: red;
  color: black;
  max-width: 500px;
  margin: auto;
  padding: $space-m;
}

.container {
  max-width: 1280px;
  padding: 0 $space-m;
  margin: 0 auto;

  .row {
    display: flex;
    margin: 0 calc(-1 * $space-m);

    .col {
      padding: $space-m;
    }
  }
}

h1 {
  font-size: 5rem;
  color: $col-light;
}

h2 {
  font-size: 4rem;
  color: $col-dark-bright2;
}

p {
  font-size: 1.5rem;

  &.main-p {
    color: $col-dark-bright6;
  }
}

// p {
//   color: $col-dark-bright6;
// }
