$space-xl: 80px;
$space-l: 40px;
$space-m: 20px;
$space-s: 5px;

$header-h: 80px;

// PALETS

$bg-light: #ffffff;
$bg-light-op15: #ffffff26;
$bg-light-op30: #ffffff4d;
$bg-light-op50: #ffffff80;

$bg-light-off: #fcfcfc;
$bg-light-offx: #fbf9f9;
$bg-light-info: #f5fcff;
$bg-light-infox: #f3f8fc;

$bg-warning: #ffd642;
$bg-primary-light: #9ee0ff;
$bg-primary: #42c3ff;
$bg-secondary-light: #ee2b55;
$bg-secondary: #ef2a54;

$bg-dark: #212121;
$bg-dark-op40: #30303066;
$bg-dark-op10: #0808081a;
$bg-dark-op15: #00000026;

$col-light: #ffffff;
$col-light-op80: #ffffffcc;
$col-light-off: #fcfcfd;

$col-dark-bright15: #cecece;
$col-dark-bright14: #b9b9b9;
$col-dark-bright13: #ababab;
$col-dark-bright12: #a6a6a6;
$col-dark-bright11: #959595;
$col-dark-bright10: #92919c;
$col-dark-bright9: #898989;
$col-dark-bright8: #808080;
$col-dark-bright7: #847b7b;
$col-dark-bright6: #606264;
$col-dark-bright5: #595959;
$col-dark-bright4: #545454;
$col-dark-bright3: #3e3e3e;
$col-dark-bright2: #373838;
$col-dark-bright1: #303030;
$col-dark: #000000;

$col-primary-light: #40c4ff;
$col-primary: #55acee;
$col-primary-dark: #3b5998;
$col-secondary: #dc4d40;

$fill-light: #ffffff;
$fill-dark: #000000;
$fill-secondary: #ee2852;

$border-bright6: #f2f2f2;
$border-bright5: #efefef;
$border-bright4: #ebebeb;
$border-bright3: #eaebeb;
$border-bright2: #e5e5e5;
$border-bright1: #6d6d6d;

$border-primary-light: #d6f2ff;
$border-primary: #40c4ff;
